{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Endit/style.css' %}" />

<!DOCTYPE html>
<head>
	<title> High/Low</title>
</head>
<body>
	<h1> Highs and Lows</h1>
	<p> Highs-track all the great stuff your partners does.</p>
	<p> Lows-tracks all the crappy things they do that you don't like. 

</p> You can share the this list with your partner to tell them how great they are doing and the status of your happiness. </p>
<h2 id='highs'>Highs:</h2>
{% if highs %}
	{% csrf_token %}
	<ul>
		{% for high in highs %}
		<li>{{ high.description }}</li>
		{% endfor %}
	</ul>
	{{ total_highs}}
	{% endif %}

<h2 id='lows'>Lows:</h2>
{% if lows %}
	{% csrf_token %}
	<ul>
		{% for low in lows %}
		<li>{{ low.description }}</li>
		{% endfor %}
		{{ total_lows }}
	</ul>
	{% endif %}