{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Endit/style.css' %}" />

<!DOCTYPE html>
<head>
	<title> High/Low</title>
</head>
<body>
	<p> Track all the great stuff your partners does and how it makes you feel.</p>
</p> You can share the this list with your partner to tell them how great they are doing. </p>

These are the highs: {{highs}}

<ol>
	<li>let me sleep on the weekend and did all the laundry</li>
	<li>Bought me pastaschio gelato, my favorite dessert!</li>
	<li>Cooked me a fabulous dinner</li>
	<li>Cleaned out my car</li>
	<li>Puts cash in my wallet to make sure I have $</li>

</body>
</html>
