{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'Endit/style.css' %}" />

<h1> This is the home page for Stop Love Loss</h1>
<h2> Should I stay or should I go?</h2>
<h3> Breaking up is hard to do</h3>

<p> Have you ever dated someone for years and after you break up you realized you should have left much sooner? Stop Love Loss will tell you to leave before you invest too much of your time on a doomed relationship. Stop wasting your time, energy and love on someone who doesn't deserve it.</p>

<h3>"It's not me, it's you."</h3>
<p> We will guide you to when an ideal time to break and track how happy you are in your relationship. When your happiness drops below an acceptable level you end it and protect your heart in the process.</p>

<h6> * Disclaimer this is not based on any scientific study just on many times numerous relations I have witness from friends and family.</h6>