

<link rel="stylesheet" type="text/css" href="/static/Endit/quiz.css" />


<!DOCTYPE html>
<html>
<head>
	<meta-charset-8="utf">
		<metaname="viewport" content="width=device-width, inital-scale=1.0">
		<title> SLL | Quiz</title>
		<link rel="stylesheet" href="/static/Endit/normalize.css">
		<link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
	<!-- 	<link rel="stylesheet" href="css/main.css"> -->
		<script src="/static/Endit/jquery.js"></script>
		<script src="/static/Endit/quizzQues.js"></script>
</head>
<header class=quizHeader>Relationship Quiz</header>
<body class="quiz_body">
<h2 id="test_status"></h2>
<div id="test"></div>

</body>
</html>
