
/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.75;
}
ol, ul {
    list-style: none;
    overflow: auto;
}

a {
    text-decoration: none;
    color: #188989;
    font-family: 'Megrim', cursive;
   /* font-size: 20px;
    font-weight: bold;*/
}
a:hover {
    color:#00CED1;
}
a: visited {
  color:#00CED3 ;
}



/************************
 * End of Reset
 ************************/
 
/*http://paletton.com/#uid=7000u0khHE37vVac+NklIvEqisE
*/
/************************
Home Page
 ************************/

.home_body{
  color: #fff;
  margin: 10px 10px;
}
/************************
NAV
 ***********************/



.navbar-brand{
  font-family: 'Satisfy';
  font-size: 25px;
}

.nav navbar-nav navbar-right {
  font-family: 'Megrim', cursive;
}


.navbar-default {
  border-color: #00CED1;
}

.navbar-default .navbar-nav>li>a:hover {
  color:#00CED1;
}
/************************
General
 ************************/

body {
/*	background: #4FB2C5;
*/    font-family: Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 1rem 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
    text-align: center;
    overflow: auto;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    padding: 20px 20px;
}
p {
  color: #00CED1;
  font-family: 'Megrim', cursive;
  font-weight: bold;

}
#message {
  color:#FF2929;
  font-size: 20px;
  font-family: 'Satisfy';

}

.high_lows{
  text-decoration: none;
    color: #188989;
    font-family: 'Megrim', cursive;
    font-size: 20px;
    font-weight: bold;

}

h1 {
	color: white;
  background: #00CED1;
	font-weight: bold;
  font-size: 25px;
	font-family:'Megrim', cursive;
    height: 60px;
    padding: 1rem;

}
h2 {
	font-family: 'Satisfy';
	font-weight: italic;
  color: #FFF;
}

#highs{
  color:#FF8A29;
  font-weight: bold;
}
#lows {
  color: #14388C;
  font-weight: bold;

}
.lows_items {
  color:#FC5151;
}

h3 {
  font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: #FC5151;
}

h4 {
  font-family: 'Satisfy',cursive;
  font-size: 30px;

  
}

input::-webkit-input-placeholder {
  font-family: 'Satisfy';
   color: rgba(225,185,157);
   text-transform: lowercase;
   text-align: center;
}

h6 {
  font-family: 'Megrim';
  font-size: 12px;

}

.pagination{
	background-image: 
	linear-gradient(#00CED1,#FFB99D);
    height: 60px;
    padding: 0.50rem;
	
	background: #00CED1;
}

/************************
 * SIGNUP FORM
 ************************/

form {
  max-width: 100px;
  margin: 5px auto;
  padding: 10px 2px 20px;
  background: #ADE5EF;
  border-radius: 8px;
  font-family: 'Megrim', cursive;

}

input[type=submit] {
  font-weight: bold;
}

select, textarea {
  font-family: 'Satisfy', cursive;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

form {
    max-width: 325px;
  }
submit{
  width: 20px;
  height: 20px;
  display: block;
  font-family: 'Satisfy';

/*  margin: 0 auto -15px auto;*/
/*  margin-bottom: 2.75rem;
*/  background: #fff;
  border-radius: 80%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 12px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 7px #fff;
  transition: 0.2s ease-out;
  
  &:hover, &:focus{
    background: #FF7052;
    color: #fff;
    outline: 0;
  }
  .form_btn {
  max-width: 100px;
  margin: 10px auto;
  padding: 2px 2px;
  background: #ADE5EF;
  border-radius: 8px;
  font-family: 'Satisfy';
  }

  .select_form{
    font-family: 'Megrim', cursive;
  }

/***********************
 * LOGIN FORM
 ***********************
 
.login{
  position: relative;
  top: 50%;
    width: 250px;
  display: table;
  margin: -150px auto 0 auto;
  background: #fff;
  border-radius: 4px;
}

.legend{
  position: relative;
  width: 100%;
  display: block;
  background: #FF7052;
  padding: 15px;
  color: #fff;
  font-size: 20px;
  
  &:after{
    content: "";
    background-image: url(http://simpleicon.com/wp-content/uploads/multy-user.png);
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: 152px -16px;
    opacity: 0.06;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
}

.input{
  position: relative;
  width: 90%;
  margin: 15px auto;
  
  span{
    position: absolute;
    display: block;
    color: darken(#EDEDED, 10%);
    left: 10px;
    top: 8px;
    font-size: 20px;
  }
  
  input{
    width: 100%;
    padding: 10px 5px 10px 40px;
    display: block;
    border: 1px solid #EDEDED;
    border-radius: 4px;
    transition: 0.2s ease-out;
    color: darken(#EDEDED, 30%);
    
    &:focus{
      padding: 10px 5px 10px 10px;
      outline: 0;
      border-color: #FF7052;
    }
  }
}

.submit{
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto -15px auto;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #FF7052;
  color: #FF7052;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0px 0px 0px 7px #fff;
  transition: 0.2s ease-out;
  
  &:hover, &:focus{
    background: #FF7052;
    color: #fff;
    outline: 0;
  }
}

.feedback{
  position: absolute;
  bottom: -70px;
  width: 100%;
  text-align: center;
  color: #fff;
  background: #2ecc71;
  padding: 10px 0;
  font-size: 12px;
  display: none;
  opacity: 0;
  
  &:before{
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(46, 204, 113, 0);
    border-bottom-color: #2ecc71;
    border-width: 10px;
    margin-left: -10px;
    
  }
}
/*********************
*moblie styling
**********************/
h1{color: red !important;}

@media only screen and (min-width: 0px) and (max-width: 400px) {
  h1 {
    color: red !important;
  }
}

/*********************
*tablet styling
**********************/
@media only screen and (min-width: 781px) and (max-width: 979px) {
  h1 {
    color: green !important;
  }
}
/*********************
*web styling
**********************/
@media only screen and (min-width: 980px) and (max-width: 1500px) {
  h1 {
    color: purple !important;
  }
}